<!DOCTYPE html>
<html lang="pt-br">
<!-- -->
<!-- -->
<head>
<!-- -->
  <title>Listas TO-DO</title>
<!-- -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- -->
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
<!-- W3Schools Style -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- -->
  <!-- Favicons -->
  <link href="../assets/img/lrsl.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v1.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  * Autor: Luciano Lima
  ======================================================== -->
<!-- -->
</head>
<!-- -->
<!-- -->
<body>
<!-- -->
<script>
//
// Funções que abrem e fecha o Menu.
//
    function openNav() {
       document.getElementById("mySidenav").style.width = "220px";
       document.getElementById("main").style.marginLeft = "220px";
    }
//
    function closeNav() {
       document.getElementById("mySidenav").style.width = "0";
       document.getElementById("main").style.marginLeft= "0";
    }
//
</script>
<!-- -->
<!-- -->
<div id="main" style="margin-left:220px">
   <!-- -->
   <!-- -->
   <div id="Cabecalho" class="w3-container w3-teal" >
        <center>
            <h1 class="">SM Solutions  <span style="font-size:30px;cursor:pointer" onclick="openNav()"> &#9776; Menu</span> </h1>
            <h1>  Controle de Listas To-Do</h1>
            <p>   Bem-vindo ao Aplicativo de Listas de Tarefas da SM Solutions. </p>
        </center>
   </div>
</div>
<!-- -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Início</a>
  <a href="#about">Sobre</a>
  <a href="#">Listas</a>
  <a href="#">Tarefas</a>
  <a href="http://localhost:3000/ListatodoComment" method="post" target="_blank">Comentários</a>
  <a href="#contact">Contatos</a>
  <!--  
    <a href="/login">Fazer o Login</a> 
  -->
  <a href="http://localhost:3001" method="post" target="_blank">Fale Conosco</a>
  <a href="/logout">Logout</a>
</div>
<!-- -->
<!-- Page Content -->
<!-- -->
<div style="margin-left:22.50%">
<!--
-->
<div class="w3-container">
<!-- -->
  <div id="lista">
    <ul>
        <p><b>Usuário</b>: {{usrname}} ({{user}}). Listas Ativas:</p>
        {{#each listas}}
            <li>
              <!--  <p> {{#if @first}} {{@index}}. {{this.id_lista}} {{/if}}</p>
                    <p><b>Lista {{this.id_lista}}</b>: {{this.ds_lista}} - <b>Data</b>: {{this.dt_lista}} - <b>Inativo</b>: {{this.st_inativo}}</p>
              -->
              <p><b>Lista</b>: {{this.ds_lista}} - {{this.ds_tarefa}} - <b>Data</b>: {{this.dt_tarefa}}</p>
            </li>
        {{/each}}
    </ul>
  </div>
<!-- -->
</div>
<!-- Fim Page Content -->
</div>
<!-- -->
    <!-- -->
    <!-- ======= About Section ======= -->
    <!-- -->
    <section id="about" class="about">
      <div class="container">
        <div style="margin-left:22.50%">
          <div class="section-title">
            <h2>Sobre</h2>
            <p>A Teconologia surgiu para <b> AJUDAR </b>  a melhorar a vida humana e a vida na terra, tornando-as mais solidárias, felizes, eficientes e produtivas. Qualquer coisa diferente desses objetivos está <b>FORA</b> da Curva.</p> <br>

            <p>Com esse objetivo, lançamos o aplicativo (APP) Lista To-Do, um APP para dispositivos móveis e desktops, 
             cuja a finalidade principal é ajudar você a organizar seu dia a dia, infelizmente ou felizmente, mais atarefado e complexo. 
             O APP, como o seu nome sugere, permite ao usuário criar listas de tarefas para organizar o seu dia a dia 
             de forma simples e rápida. Atualmente, a aplicação encontra-se disponível para ser executado através de um 
             Browser, e portanto, ele é acessível de qualquer sistema operacional disponível no mercado como Windows, Android e iOs.
            </p> <br>
            <p>  
             Veja as dicas a seguir e aprenda a usar o nosso Lista To-Do. 
            </p> <br>
            <div id="dicas">
              <p>   1. Faça Login no Aplicativo com sua Conta Github. </p> <br>
              <p>   2. Cadastre ou consulte uma Lista de Tarefas. </p> <br>   
              <p>   3. Cadastre ou consulte uma Tarefa vinculada a Lista escolhida. </p> <br>    
              <p>   4. Caso uma tarefa seja completada, assinale esse fato na Tarefa para que ela sai de sua lista de tarefa ativas. </p> <br>    
              <p>   5. Caso uma lista seja concluída, assinale esse fato na Lista para que ela sai de sua lista de lista ToDo ativas. </p> <br>    
              <p>   6. Caso não vá mais usar o aplicativo, faça Logout. </p> <br>
              <p>   7. Pronto, simples, fácil e rápido. Tenha um bom uso da aplicação. </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
<!-- -->
<!-- -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div style="margin-left:22.50%">
          <div class="section-title">
            <h2>Contato</h2>
            <p>Use os canais abaixo para entrar em contato com a SM Solutions.</p> <br>
            <div class="col-lg-7 d-flex align-items-stretch">
             <div class="info">
               <!-- -->
               <div class="address">
                 <i class="icofont-google-map"></i>
                 <h4>Endereço:</h4>
                 <p>Rua Quintiliano Silva, 37/802, BH/MG, 30350-040</p>
               </div>
               <!-- -->
               <div class="email">
                 <i class="icofont-envelope"></i>
                 <h4>E-mail: </h4>
                 <p><a href="mailto:luciano.limanokia@outlook.com.br">luciano.limanokia@outlook.com.br</a></p>
               </div>
               <!-- -->
               <div class="phone">
                 <i class="icofont-brand-whatsapp"></i>
                 <h4>Celular:</h4>
                 <p>+55 31 99114-4226</p>
               </div>
               <!-- -->
               <div class="Mapa-Bing">
                 <i class="icofont-brand-microsoft"></i>
                 <h4>Bing Mapas:</h4>
                 <p>
                   <a href="https://www.bing.com/maps?osid=763d89e0-2133-4069-a985-4bf37ddb442b&cp=-19.93892~-43.945077&lvl=18&v=2&sV=2&form=S00027" target="_blank">Click Aqui (Rua Conselheiro Quintiliano Silva).</a>
                 </p>
               </div>
               <!-- -->
               <div class="Mapa-Google">
                 <i class="icofont-brand-google"></i>
                 <h4>Google Mapas:</h4>
                 <p>
                   <a href="https://www.google.com.br/maps/place/Condom%C3%ADnio+do+Edif%C3%ADcio+Sevilla+-+Rua+Quintiliano+Silva,+37+-+Santo+Ant%C3%B4nio,+Belo+Horizonte+-+MG,+30110-047/@-19.9389659,-43.9473335,17z/data=!3m1!4b1!4m5!3m4!1s0xa6977d09447927:0x35ed0a4b02a61a91!8m2!3d-19.938971!4d-43.9451448" target="_blank">Click Aqui (Rua Conselheiro Quintiliano Silva).</a>
                 </p>
               </div>
              </div>
            </div>
          </div>
          <!-- -->
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <center>
            <table id="Adeus">
                <tr>
                  <th>
                    Fiquem com o belo Pôr do Sol da Praia do Jacaré (João Pessoa-PB)
                  </th>
                </tr>
                <tr>
                  <td>
                    <br>
                    <br>
                    <img width="650" src = "../assets/img/praiaJacare.png" alt = "Pôr do Sol - Praia do Jacaré">
                  </td>
                </tr>
             </table>
            </center> 
          </div>
          <!-- -->
        </div>
      </div>
    </section><!-- End Contact Section -->
<!-- -->
</body>
</html>